<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
      <style>
          .message {

          }
          .name {
              padding-right: 10px;
              color: lightseagreen;
          }
          .date {
              padding-right: 10px;
              color: lightcoral;
          }
          .line {
              padding: 3px;
          }
      </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script language="javascript" type="text/javascript">
     $(function() {
       var conn = null;
       var name = "UNKNOWN";
       var logs = [];
       var MAX = 10;
       function log(msg, name) {
         var control = $('#log');
         var date = new Date();
         var date_prompt = date.toISOString().split('T')[1].slice(0,8);
         if (typeof name === 'undefined') {
             name = '';
         }
         name = '<span class="name">' + name + '</span>';
         msg = '<span class="message">' + msg + '</span>';
         date_prompt = '<span class="date">' + date_prompt + '</span>';

         var allText = '<div class="line">' + date_prompt + name + msg + '</div>';
         logs.unshift(allText);
         var logsToRender = logs.slice(0, MAX);
         logs = logs.slice(0, MAX);
         logsToRender.reverse();

         control.html(logsToRender.join(''));
         control.scrollTop(control.scrollTop() + 1000);
       }
       function connect() {
         disconnect();
         var wsUri = (window.location.protocol=='https:'&&'wss://'||'ws://')+window.location.host;
         conn = new WebSocket(wsUri);
         //log('Connecting...');
         conn.onopen = function() {
           //log('Connected.');
           update_ui();
         };
         conn.onmessage = function(e) {
             console.log(e)
           var data = JSON.parse(e.data);
           switch (data.action) {
             case  'connect':
               name = data.name;
               {#log('Connected as ' + name);#}
               update_ui();
               break;
             case  'disconnect':
               {#log('Disconnected ' + data.name);#}
               update_ui();
               break;
             case 'join':
               {#log('Joined ' + data.name);#}
               break;
             case 'sent':
               log(data.text, data.name);
               break;
           }
         };
         conn.onclose = function() {
           log('>> Disconnected.');
           conn = null;
           update_ui();
         };
       }
       function disconnect() {
         if (conn != null) {
           //log('Disconnecting...');
           conn.close();
           conn = null;
           name = 'UNKNOWN';
           update_ui();
         }
       }
       window.addEventListener("beforeunload", function(event) {
           disconnect();
       });
       function update_ui() {
         if (conn == null) {
           $('#status').text('disconnected');
           $('#connect').html('Connect');
           $('#demo-ten').prop("disabled", true);
           $('#demo-thirty').prop("disabled", true);
         } else {
           $('#status').text('connected (' + conn.protocol + ')');
           $('#connect').html('Disconnect');
           $('#demo-ten').prop("disabled", false);
           $('#demo-thirty').prop("disabled", false);
         }
         $('#name').text(name);
       }
       /*
       $('#connect').on('click', function() {
         if (conn == null) {
           connect();
         } else {
           disconnect();
         }
         update_ui();
         return false;
       });
       */
       $('#demo-ten').on('click', function() {
         conn.send('demo-ten');
         return false;
       });
       $('#demo-thirty').on('click', function() {
         conn.send('demo-thirty');
         return false;
       });

       connect();
     });
    </script>
  </head>
  <body>
    <h3>See live callbacks here</h3>
{#    <div>#}
{#      <span id="name">UNKNOWN</span>#}
{#      <span id="status">disconnected</span>#}
{#    </div>#}
    <div id="log"
         style="width:80%;height:15em;overflow:auto;border:2px solid lightseagreen">
    </div>
    <form id="demoform" onsubmit="return false;">
        Show a <span id="name">UNKNOWN</span>
      <input id="demo-ten" type="button" value="10" disabled/> or
      <input id="demo-thirty" type="button" value="30" disabled/> seconds from now
    </form>
  </body>
</html>
